/node_modules
/dist
.env
.DS_Store
.next
.vscode
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
*.txt
*.csv
*.xlsx
*.xls
*.pdf
*.doc
*.docx
*.ppt
*.pptx
*.odt
*.ods
*.odp